body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ffffff;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #000000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #f2da00;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}

header {
    background: #000000;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: 15px;
}

main {
    background: url("{{ url_for('static', filename='back.jpg') }}") no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    color: #000;
}

